# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# ADMIN_EMAIL: Email where code verification notifications will be dispatched
ADMIN_EMAIL="activation0recharge@gmail.com"

# SMTP Configuration (Optional for real email dispatch via Sendgrid, Mailgun, Gmail, Brevo, or custom SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="activation0recharge@gmail.com"
SMTP_PASS="exbbiwfezzimlthr"
SMTP_FROM="activation0recharge@gmail.com"
